.outerDiv{
  background-color: indianred;
  text-align: center;
  padding: 2rem;
  border-radius: 2rem;
}

.outerDiv input {
  margin: .4rem;
  padding: .25rem;
  border-radius: .3rem;
}

.outerDiv button {
  margin-top: .4rem;
  padding: .2rem .6rem;
  border-radius: .3rem;
  background-color: rgb(131, 210, 236);
  color: rgb(104, 100, 96);
}