.header {
  text-align: center;
  margin: 0px auto;
  background-color: rgb(70, 68, 68);
  color: white;
  max-width: 13rem;
  max-height: rem;
  overflow-y:a5uto;
  padding: .7rem;
  border-radius: 1.5rem;
}

.title {
  display: flex;
  align-items: center;
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerDiv{
  display: flex;
  flex-direction: column;

}

.innerDiv p {
  margin: 0px;
}

.outerDiv{
  display: flex;
  justify-content: space-between;
  margin-bottom: .1rem;
}

.outerDiv:hover{
  background-color: rgb(65, 62, 62);
}

.outerDiv a {
  text-decoration: none;
  color: white;
}

.red {
  color: red;
}

.green {
  color: rgb(33, 187, 33);
}

.xImg {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 6rem;
}

.del {
  display: flex;
  align-items: center;
}